html, body {
    box-sizing: border-box;
}

body {
    background: #f3f3f3;
}

svg {
    position: absolute;
    top: 50%;
    left: calc(50% - 130px);
    transform: translateX(-50%) translateY(-50%);  
    
    background: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

section {
    width: 260px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: #FFF;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

section > .box-connection {
    padding: 20px;
}

section > .box-connection > .box-inline {
    display: flex;
    flex-direction: row;
    width: 100%;
}

section > .box-connection > .box-inline > select {
    margin-right: 10px;
    width: 100%;
}

section > .box-tools {
    padding: 20px;
}

section > .box-tools > .box-top {
    text-align: center;
}

section > .box-tools > .box-mid {
    display: flex;
    justify-content: space-between;
}

section > .box-tools > .box-mid > button {

}

section > .box-tools > .box-bottom {
    text-align: center;

    margin-bottom: 10px;
}

section > .box-tools > .box-pen {
    text-align: center;
}

section > .box-start {
    padding: 20px;
}

section > .box-start > button {
    width: 100%;
    margin-bottom: 10px;
}

button {
    padding: 12px 16px;
    background-color: #28B463;
    color: #FFF;
    border: none;
    border-radius: 3px;

    outline: none;
}

button:hover {
    background-color: #239B56;
}

button:active {
    background-color: #186A3B;
}

button.stop {
    background-color: #E74C3C;
}

button.stop:hover {
    background-color: #A93226;
}

button.stop:active {
    background-color: #78281F;
}

h2 {
    margin: 0;
    margin-bottom: 20px;
}



