html, body {
    box-sizing: border-box;
}

body {
    background: #f3f3f3;
}

svg {
    position: absolute;
    top: 50%;
    left: calc(50% - 100px);
    transform: translateX(-50%) translateY(-50%);  
    
    background: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

section {
    width: 200px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: #FFF;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

section > .box-tools {
    padding: 10px;
    margin-bottom: 10px;
}

section > .box-tools > .box-top {
    text-align: center;
}

section > .box-tools > .box-mid {
    display: flex;
    justify-content: space-between;
}

section > .box-tools > .box-mid > button {

}

section > .box-tools > .box-bottom {
    text-align: center;

    margin-bottom: 10px;
}

section > .box-tools > .box-pen {
    text-align: center;
}

section > .box-start {
    padding: 10px;
}

section > .box-start > button {
    width: 100%;
}



